/* 公共样式 */
body {
  font: 12px serif;
  color: #000;
  min-width: 1226px;
  /* 设置最小宽度，以便缩放不会变形 */
}

/* 固定容器宽度 */
.w {
  width: 1226px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #333;
}
