.box1 .box2 {
  color: red;
}
.box1 > .box3 {
  color: blue;
}
.box1 > .box3:hover {
  color: green;
}
.box1:hover {
  color: aqua;
}
div .box1 {
  color: bisque;
}
.p1,
.p2 {
  width: 200px;
  height: 200px;
}
.p2 {
  color: red;
}
.p3 {
  width: 200px;
  height: 200px;
}
.p5 {
  width: 200px;
  height: 340px;
  background-color: #edd;
}
div {
  width: 200px;
  height: 500px;
  background-color: #234;
}
span {
  color: #800080;
}
div {
  width: 200px;
  height: 200px;
  background-color: #ffe;
}
div:hover {
  background-color: #ffff88;
}
